:root {
  --default: #121213;
  --text: #ffffff;
  --gray1: #4a4a4c;
  --gray2: #2a2a2c;
  --brBlue1: #17aad8;
  --brBlue2: #017cb0;
  --brBlue3: #0b61a8;
  --brOrange1: #fe9200;
  /*ee610a*/
  --brOrange2: #ee610a;
  --brOrange3: #ea410b;
}

@font-face {
  font-family: "Blade Runner";
  src: url(../fonts/BLADRMF_.TTF);
}

@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Oxanium-VariableFont_wght.ttf");
}

html,
body {
  background-color: var(--default);
  font-family: "Oxanium", cursive;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
}

.supercontainer {
  display: flex;
  min-width: 320px;
  max-width: 540px;
  margin: 1cqw auto;
  container-type: inline-size;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  /*margin: 1cqw auto;
  min-width: 320px;
  max-width: 540px;*/
  width: 100%;
  justify-content: space-between;
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows: auto auto 1fr;*/
  /*grid-auto-rows: auto;*/
  container-type: inline-size;
  height: 155cqw;
}

.header {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  color: var(--brOrange2);
  font-family: "Blade Runner";
  font-size: 8cqw;
  padding: 2cqw 0;
  margin: 1cqw;
  border-bottom: 0.5cqw solid var(--gray1);
  height: 8cqw;
  border-top: 0.5cqw solid var(--default);
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.message {
  color: var(--brOrange2);
  font-family: "Oxanium", cursive;
  font-size: 6cqw;
  padding: 2cqw 0;
  margin: 1cqw;
  height: 8cqw;
  border-bottom: 0.5cqw solid var(--brOrange2);
  border-top: 0.5cqw solid var(--brOrange2);
  background-color: var(--default);
}

.gameContainer {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  width: 100cqw;
  margin: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tileGrid {
  display: grid;
  width: 75cqw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.5cqw;
  margin: 0.5cqw 0;
}

.tile {
  aspect-ratio: 1 / 1;
  border: 0.5cqw solid var(--gray1);
  box-sizing: border-box;
  color: var(--text);
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: "Oxanium", cursive;
  font-size: 7cqw;
}

.tileWaterMark {
  font-family: "Blade Runner";
  color: var(--gray2);
}

.keyboardContainer {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  margin: auto;
  margin-top: 2cqw;
  width: 100cqw;
}

.keyboardGrid {
  display: grid;
  width: 98cqw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5cqw;
}

.keyboardRow1 {
  display: grid;
  width: 98cqw;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.5cqw;
}
.keyboardRow2 {
  display: grid;
  width: 98cqw;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-column-gap: 1.5cqw;
}
.keyboardRow3 {
  display: grid;
  width: 98cqw;
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-column-gap: 1.5cqw;
}

.key,
.keySpacer {
  display: grid;
  border: 0.25cqw solid var(--text);
  box-sizing: border-box;
  text-align: center;
  font-family: "Oxanium", cursive;
  font-size: 3.5cqw;
  font-weight: bolder;
  place-items: center;
  padding: 0 0;
  border-radius: 1.5cqw;
  color: var(--text);
  aspect-ratio: 1 / 1.2;
  background-color: var(--default);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keySpacer {
  visibility: hidden;
  aspect-ratio: 1 / 2.4;
}

#BACKSPACE,
#ENTER {
  aspect-ratio: 3 / 2.4;
  font-size: 2.5cqw;
}

.tileClose {
  color: var(--brOrange2);
  border: 0.5cqw solid var(--brOrange2);
}

.tileHit {
  color: var(--brBlue1);
  border: 0.5cqw solid var(--brBlue1);
}
.tileMiss {
  color: var(--gray1);
  border: 0.5cqw solid var(--gray1);
}

.gameOver {
  background-color: var(--brBlue1);
  color: var(--default);
  border: 0.25cqw solid var(--brBlue1);
}

.notWord {
  animation-name: flashBackspace;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.reset {
  animation: 1s linear resetting;
}

@keyframes resetting {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes flashBackspace {
  0%,
  100% {
    background-color: var(--brOrange2);
    color: var(--text);
    border: 0.25cqw solid var(--text);
  }
  50% {
    background-color: var(--default);
    color: var(--text);
    border: 0.25cqw solid var(--text);
  }
}

.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15cqw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100cqw;
  overflow: auto;
  background-color: rgba(18, 18, 19, 0.6);
}

.modalContent {
  font-family: "Oxanium", cursive;
  background-color: rgba(254, 146, 0, 0.3);
  color: var(--brOrange1);
  margin: auto;
  padding: 1.5cqw;
  padding-top: 0;
  width: 80cqw;
  max-width: 80cqw;
  max-height: 90cqw;
  font-size: 6cqw;
  overflow: auto;
}

.modalContent hr {
  border: 0.25cqw solid var(--brOrange1);
  margin-top: 3cqw;
}

.modalTitle {
  font-family: "Oxanium", cursive;
  margin: 2cqw 0 0cqw;
  padding: 2cqw 0 1cqw;
}

.modalContentItem {
  font-family: "Oxanium", cursive;
  margin: 0 0;
  padding: 1cqw 2cqw;
  font-size: 5cqw;
  text-align: left;
}

.close {
  color: var(--brOrange1);
  float: right;
  margin-right: 1.5cqw;
  font-size: 6cqw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--brOrange3);
  text-decoration: none;
  cursor: pointer;
}

.statTable {
  margin: 0 auto 1.5cqw;
}
.statTable td {
  padding: 0 4cqw;
}

.statNum {
  text-align: right;
}

::-webkit-scrollbar {
  width: 2cqw;
}

::-webkit-scrollbar-track {
  background: rgba(254, 146, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(254, 146, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brOrange1);
}

.modalContent {
  scrollbar-color: rgba(254, 146, 0, 0.6) rgba(254, 146, 0, 0.1);
}
