:root {
  --default: #121213;
  --text: #ffffff;
  --key: #818384;
  --watermark: #2a2a2c;
  --tileMiss: #4a4a4c;
  --tileClose: #b59f3b;
  --tileHit: #538d4e;
  --termGreen: #0ae735;
  --termAmber: #ff9a02;
  --brBlue1: #17aad8;
  --brBlue2: #017cb0;
  --brBlue3: #0b61a8;
  --brOrange1: #fe9200;
  --brOrange2: #ee610a;
  --brOrange3: #ea410b;
}

@font-face {
  font-family: "Blade Runner";
  src: url(./BLADRMF_.TTF);
}

html,
body {
  background-color: var(--default);
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
}

.pageContainer {
  text-align: center;
  margin: 5px auto;
  min-width: 320px;
  max-width: 55vh; /*adjust this to control size of games on large screens*/
}

.header {
  color: var(--brOrange2);
  font-family: "Blade Runner";
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0.5rem;
  border-bottom: 0.1rem solid var(--tileMiss);
  /* background-color: var(--brOrange1); */
}

.message {
  color: var(--brOrange2);
  font-family: "Readex Pro", sans-serif;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 0.5rem;
  height: 2rem;
  /* border: 0.1rem solid var(--brOrange1); */
  border-bottom: 0.1rem solid var(--brOrange2);
  border-top: 0.1rem solid var(--brOrange2);
  background-color: var(--default);
}

/* .message {
  color: var(--brBlue1);
  font-family: "Oxanium", cursive;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  margin: 0.5rem;
  height: 2rem;
  border: 0.1rem solid var(--brBlue1);
  background-color: var(--default);
} */

.gameContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.tileGrid {
  display: grid;
  width: 100%;
  /* grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto); */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tile {
  aspect-ratio: 1 / 1;
  border: 2px solid var(--tileMiss);
  box-sizing: border-box;
  margin: 4px;
  color: var(--text);
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: "Oxanium", cursive;
  font-size: 2.25rem;
  /* font-weight: bold; */
  /* width:50px;  */
}

.tileWaterMark {
  font-family: "Blade Runner";
  color: var(--watermark);
}

.keyboardContainer {
  display: flex;
  justify-content: center;
  margin: auto; /*added 3/29*/
  margin-top: 0.5em;
  width:100%;/*added 3/29*/
}

.keyboardGrid {
  display: grid;
  width: 60vh;
  width:100%;/*added 3/29*/
  /* grid-template-rows: 3rem 3rem 3rem; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}


/* removed 3/29 */
/* .keyboardRowContainer {
  display: flex;
  justify-content: center;
} */

.keyboardRow1 {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.keyboardRow2 {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}
.keyboardRow3 {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
}

.key,
.keySpacer {
  display: grid;
  border: 1px solid var(--text);
  box-sizing: border-box;
  text-align: center;
  font-family: "Oxanium", cursive;
  font-size: 1rem;
  font-weight: bolder;
  place-items: center;
  margin: 0.1em;
  margin:0; /*added 3/29*/
  padding:0; /*added 3/29*/
  border-radius: 0.5em;
  color: var(--text);
  aspect-ratio: 1 / 1;
  background-color: var(--default);
}

.keySpacer {
  visibility: hidden;
  aspect-ratio: 1 / 2;
}

#Backspace,
#Enter {
  aspect-ratio: 3 / 2;
  font-size: 0.6rem;
}

.tileClose {
  color: var(--brOrange2);
  border: 2px solid var(--brOrange2);
}

.tileHit {
  color: var(--brBlue1);
  border: 2px solid var(--brBlue1);
}
.tileMiss {
  color: var(--tileMiss);
  border: 2px solid var(--tileMiss);
}

.gameOver {
  background-color: var(--brOrange3);
  color: var(--default);
  border: 1px solid var(--brOrange3);:
}

.reset {
  animation: 1s linear resetting;
}

@keyframes resetting {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
